<main>
  <section>
    <form 
    [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <h3>Welcome to Rhonda's Blog!</h3>
      <p>Sign up to create an account and get started!</p>

      <mat-form-field [formGroup]="signUpForm">
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.valid">Invalid or missing email</mat-error>
      </mat-form-field>

      <mat-form-field [formGroup]="signUpForm">
        <input 
          matInput 
          placeholder="Enter password" 
          [type]="hide ? 'password' : 'text'"
          [formControl]="password" 
          required>
        <mat-icon matSuffix (click)="hide = !hide"
        >{{ hide ? 'visibility' : 'visibility_off' }}
      </mat-icon>
        <mat-error *ngIf="!password.valid">Invalid or missing password</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent">Sign Up</button>

    </form>
  </section>
</main>